**/node_modules/
**/__pycache__/
**/.pytest_cache/
**/dist/
**/.venv/
**/.env
**/.dart_tool/
**/build/
**/.idea/
**/*.iml
**/android/local.properties
**/package-lock.json
**/yarn.lock
**/pnpm-lock.yaml
**/pubspec.lock
